/* Skills */
.skills .items{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .skill{
        img{
            width: auto;
            height: 2.7rem;
        }

        @include md{
            img{
                width: auto;
                height: 3.7rem;
            }
        }
    }
}
