/* Skills */
.skills{
    margin: 2rem 0;

    .items{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .skill{
        img{
            width: 50px;
            height: 50px;
        }
    }
}
