.text-center{
    text-align: center;
}

.prefix-underscore{
    &::before{
        content: '_';
    }
}

.container{
    max-width: 1500px;
    margin: auto;
    background-color: var(--dark-300);
    border: 1px solid var(--lines);
    border-radius: 8px;

    .full{
        min-height: 100%;
    }
}

.page{
    min-height: min(900px, calc(100vh - 40px));
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.prompt::before{
    content: '> ';
}

.comment{
    color: var(--gray);
    &::before{
        content: '// ';
    }
}

.link{
    padding: .8rem 2rem;
    color: var(--gray);
    border-bottom: 1px solid var(--lines);
    transition: $transition;

    &:hover{
        color: var(--white);
        transition: $transition;
    }

    &.active{
        color: var(--white-200);
    }
}

.label-text{
    font-size: $small;
}

.body-text{
    font-size: $medium;
}

.headline-text{
    font-size: $x-large;
}

.subheadline-text{
    font-size: $large;
}
