// Colors
$dark-900: #01080E;
$dark-600: #011627;
$dark-300: #011221;
$gray: #607B96;
$green-500: #3C9D93;
$purple: #4D5BCE;
$white: #FFFFFF;
$white-200: #E5E9F0;
$white-50: #ffffff38;
$orange-200: #FEA55F;
$orange-50: #fbb37c;
$green-200: #43D9AD;
$red-200: #E99287;
$blue-200: #C98BDF;
$lines: #1E2D3D;

/* Variables */
:root {
    --dark-900: #{$dark-900};
    --dark-600: #{$dark-600};
    --dark-300: #{$dark-300};
    --gray: #{$gray};
    --purple: #{$purple};
    --white: #{$white};
    --white-200: #{$white-200};
    --white-50: #{$white-50};
    --orange-200: #{$orange-200};
    --orange-50: #{$orange-50};
    --green-500: #{$green-500};
    --green-200: #{$green-200};
    --red-200: #{$red-200};
    --blue-200: #{$blue-200};
    --lines: #{$lines};
}

$transition: all ease .4s;
$small: 0.85rem;
$medium: 1rem;
$large: 1.8rem;
$x-large: 3.7rem;
