<div class="footer">
    <span>find me in:</span>
    <ul class="socials">
        <li>
            <a href="https://twitter.com/djouf_legran" target="_blank" class="link"><img class="brand" src="/assets/icons/twitter.png" alt="Twitter logo"></a>
        </li>
    </ul>
    <div class="github">
        <a href="https://github.com/Djoufson" target="_blank" class="link">
            <span>&commat;djoufson</span>
            <img class="brand" src="/assets/icons/github.png" alt="Github logo"/>
        </a>
    </div>
</div>
