@rendermode InteractiveServer

<nav class="nav-bar @ActiveClass">
    <div class="name">
        <a class="link" href="/" target="_parent" @onclick="() => OnNavigation(1)">djoufson-che</a>
        <button class="hamburger" @onclick=OnToggleClicked>
            <span class=@ActiveClass></span>
        </button>
    </div>
    <ul class="nav-links">
        <NavLink href="/" target="_parent" class="prefix-underscore link" @onclick="() => OnNavigation(1)">hello</NavLink>
        <NavLink href="/about" target="_parent" class="prefix-underscore link" @onclick="() => OnNavigation(2)">about-me</NavLink>
        <NavLink href="/projects" target="_parent" class="prefix-underscore link last-link" @onclick="() => OnNavigation(3)">projects</NavLink>
    </ul>
    <div class="contact">
        <NavLink href="/contact" target="_parent" class="prefix-underscore link" @onclick="() => OnNavigation(4)">contact-me</NavLink>
    </div>
</nav>

@code{
    private string ActiveClass = string.Empty;
    private int ActiveLink = 1;

    private void OnNavigation(int linkIndex)
    {
        ActiveLink = linkIndex;
    }

    private void OnToggleClicked()
    {
        ActiveClass = ActiveClass == string.Empty ? "active" : string.Empty;
    }
}
