@rendermode InteractiveServer

<nav class="nav-bar @ActiveClass active-link-@ActiveLink">
    <div class="name">
        <a class="link" href="/" target="_parent" @onclick="() => OnNavigation(1)">djoufson-che</a>
        <button class="hamburger" @onclick=OnToggleClicked>
            <span class=@ActiveClass></span>
        </button>
    </div>
    <ul class="nav-links">
        <a href="/" target="_parent" class="prefix-underscore link link-1" @onclick="() => OnNavigation(1)">hello</a>
        <a href="/about" target="_parent" class="prefix-underscore link link-2" @onclick="() => OnNavigation(2)">about-me</a>
        <a href="/projects" target="_parent" class="prefix-underscore link last-link link-3" @onclick="() => OnNavigation(3)">projects</a>
    </ul>
    <div class="contact">
        <a href="/contact" target="_parent" class="prefix-underscore link link-4" @onclick="() => OnNavigation(4)">contact-me</a>
    </div>
</nav>

@code{
    private string ActiveClass = string.Empty;
    private int ActiveLink = 1;

    private void OnNavigation(int linkIndex)
    {
        ActiveLink = linkIndex;
    }

    private void OnToggleClicked()
    {
        ActiveClass = ActiveClass == string.Empty ? "active" : string.Empty;
    }
}
