@rendermode InteractiveServer

<nav class="nav-bar @NavbarClass">
    <div class="name">
        <a class="link" href="/">djoufson-che</a>
        <button class="hamburger" @onclick=OnToggleClicked>
            <span class=@HamburgerClass></span>
        </button>
    </div>
    <ul class="nav-links">
        <a href="/" class="prefix-underscore link active">hello</a>
        <a href="#" class="prefix-underscore link">about-me</a>
        <a href="#" class="prefix-underscore link last-link">projects</a>
    </ul>
    <div class="contact">
        <a href="#" class="prefix-underscore link">contact-me</a>
    </div>
    @* Footer here *@
</nav>

@code{
    private string HamburgerClass = string.Empty;
    private string NavbarClass = string.Empty;

    private void OnToggleClicked()
    {
        HamburgerClass = HamburgerClass == string.Empty ? "active" : string.Empty;
        NavbarClass = HamburgerClass;
    }
}
