<div class="development">
    <div class="box">
        <img class="icon" src="/assets/icons/cogwheel.png" alt="A gear icon representing how the process is on-going">
        <p class="prompt">We are currently working on this page...</p>
    </div>
</div>
