<div class="skills">
    <h1 class="mini-text prefix-underscore">skills</h1>
    <div class="items">
        @foreach(var item in SkillItems)
        {
            <Skill
                Link=@item.Link
                IconUrl=@item.IconUrl
                Name=@item.Name/>
        }
    </div>
</div>

@code{
    private readonly SkillItem[] SkillItems = [
        new("C#", "#", "/assets/icons/csharp.png"),
        new("Python", "#", "/assets/icons/python.png"),
        new("Azure", "#", "/assets/icons/azure.png"),
        new("Azure Devops", "#", "/assets/icons/csharp.png")
    ];

    private record SkillItem(
        string Name,
        string Link,
        string IconUrl);
}
