<div class="skills">
    <h1 class="mini-text prefix-underscore">skills</h1>
    <div class="items">
        @foreach(var item in SkillItems)
        {
            <Skill
                Link=@item.Link
                IconUrl=@item.IconUrl
                Name=@item.Name/>
        }
    </div>
</div>

@code{
    private readonly SkillItem[] SkillItems = [
        new("C#", "#", "/assets/icons/csharp.png"),
        new(".NET Core", "#", "/assets/icons/netcore.png"),
        new("Azure", "#", "/assets/icons/azure.png"),
        new("Kubernetes", "#", "/assets/icons/kubernetes.png"),
        new("Docker", "#", "/assets/icons/docker.png"),
        new("Azure Devops", "#", "/assets/icons/azure_devops.png")
    ];

    private record SkillItem(
        string Name,
        string Link,
        string IconUrl);
}
