<a href=@Link class="skill">
    <img src=@IconUrl alt=@Name>
</a>

@code{
    [Parameter]
    public string Link { get; set; } = string.Empty;
    [Parameter]
    public string IconUrl { get; set; } = string.Empty;
    [Parameter]
    public string? Name { get; set; } = string.Empty;
}
