@page "/about"

<div class="about">
    <div class="box">
        <div class="content">
            <h1 class="mini-text prefix-underscore">about-me</h1>
            <h2>I am <strong>Djoufson CHE</strong>, a <span>.NET Developer</span> and <span>Microsoft Learn Student Ambassador.</span></h2>
            <p>I am curently working at a <a href="https://isolutions-intl.com" target="_blank" class="link-text">Infinite Solutions</a> as a Backend Developer, and I sometimes do freelance. When I am not busy with work, I write blog posts and help people around me to better understand C# and .NET</p>
            <p>I created a community, the <a href="https://github.com/dotnetcameroon" target="_blank" class="link-text">.NET Cameroon</a>, with the aim of opening new areas to the cameroonian .NET developers. I also am a member of the <a href="https://dotnetfoundation.org" target="_blank" class="link-text">.NET Foundation</a> community, which helps me enhance my online visibility, to reach more and more people around the world.</p>
        </div>
        <div class="side">
            <img src="assets/djoufson.png" alt="Djoufson's avatar">
            <Skills/>
        </div>
        <div class="certifications">
        </div>
    </div>
</div>
