@page "/about"
@rendermode InteractiveServer

<div class="about">
    <h1 class="mini-text prefix-underscore">about-me</h1>
    <Toggle Class="mobile-toggle">
        <ToggleItem Title="Personnal Infos">
            <PersonnalInfos/>
        </ToggleItem>
        <ToggleItem Title="Professionnal Infos">
            <ProfessionalInfos/>
        </ToggleItem>
        <ToggleItem Title="Hobbies">
            <Hobbies/>
        </ToggleItem>
        <ToggleItem Title="Contacts">
            <Contacts/>
        </ToggleItem>
    </Toggle>

    <div class="navigation-toggle">
        <h2 @onclick="() => Navigate(0)">Personnal Infos</h2>
        <h2 @onclick="() => Navigate(1)">Professionnal Infos</h2>
        <h2 @onclick="() => Navigate(2)">Hobbies Infos</h2>
        <h2 @onclick="() => Navigate(3)">Contacts</h2>
    </div>
    <div class="toggle-shared-content">
        @switch(TabIndex){
            case 0:
                <PersonnalInfos/>
                break;
            case 1:
                <ProfessionalInfos/>
                break;
            case 2:
                <Hobbies/>
                break;
            case 3:
                <Contacts/>
                break;
            default:
                <PersonnalInfos/>
                break;
        }
    </div>
</div>
@code{
    private int TabIndex = 0;

    private void Navigate(int tabIndex)
    {
        TabIndex = tabIndex;
    }
}
