@page "/about"
@rendermode InteractiveServer

<div class="about">
    <h1 class="mini-text prefix-underscore">about-me</h1>
    <Toggle>
        <ToggleItem Title="Toggle 1">
            <p>Content 1</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ex officia fugit harum eaque aperiam deleniti, eveniet odio fuga, impedit possimus pariatur reprehenderit. Impedit illo hic enim nisi. Voluptatum, quas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor praesentium laboriosam ducimus tempora quibusdam. Alias, officia. Corrupti quaerat eius, animi iusto, nesciunt molestiae deleniti eos accusamus facere officiis veritatis assumenda totam excepturi et odio perspiciatis necessitatibus amet. Accusantium nihil quisquam, perferendis nisi possimus atque, eius eveniet reiciendis porro nobis quasi iste repellendus odio consequatur alias? Porro illum nobis corporis id perferendis similique possimus ratione dolores repellat exercitationem dolor laboriosam nemo omnis quisquam ut alias quod, adipisci eaque soluta? Quae dolor quisquam a cum ipsam perferendis consequuntur autem. Quo cum, numquam ab quibusdam aspernatur, tempore voluptate corporis dolores repudiandae doloremque necessitatibus, enim saepe. Quos hic voluptatum aliquam veritatis iusto. Quibusdam sit praesentium cumque ipsum earum vitae deleniti expedita nam aliquam esse aperiam quae fuga ea, at iusto eius doloribus reiciendis nisi! Blanditiis ducimus tempora sapiente! Reiciendis, quis sint. Quasi voluptate deserunt eos iusto totam impedit fugiat, laborum consequuntur eligendi, saepe dicta odio porro nam aliquam placeat nostrum nihil rem at magni quisquam quaerat. Corrupti quae, accusamus, dolore alias nobis fugit expedita pariatur repellendus, similique fugiat porro tempora dolores id molestiae commodi a officia ipsa delectus autem. Pariatur expedita consequatur voluptatem fuga, in consectetur voluptate laboriosam porro tempore minima minus error dolores aperiam hic recusandae quae qui. Sequi repellat a iste, tempora quod id. Dolorum obcaecati, eligendi ad mollitia, quod eum tempora eius nemo, error vitae libero earum? Animi dicta ratione adipisci quia non aliquid eligendi, beatae tenetur possimus dolores, autem nemo officia illum explicabo. Eius doloremque temporibus beatae cumque accusantium repellat excepturi itaque distinctio, praesentium placeat nulla. Eius quia dolor rem consectetur quisquam labore dolore voluptate commodi ad unde nemo quaerat, nam cupiditate doloremque adipisci quae at voluptatibus doloribus quasi repellat deleniti error deserunt maiores officiis! Voluptatem minima nobis possimus itaque porro magni. Aspernatur aperiam quaerat itaque nam saepe ullam dicta.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
            </p>
        </ToggleItem>
        <ToggleItem Title="Toggle 2">
            <p>Content 2</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ex officia fugit harum eaque aperiam deleniti, eveniet odio fuga, impedit possimus pariatur reprehenderit. Impedit illo hic enim nisi. Voluptatum, quas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor praesentium laboriosam ducimus tempora quibusdam. Alias, officia. Corrupti quaerat eius, animi iusto, nesciunt molestiae deleniti eos accusamus facere officiis veritatis assumenda totam excepturi et odio perspiciatis necessitatibus amet. Accusantium nihil quisquam, perferendis nisi possimus atque, eius eveniet reiciendis porro nobis quasi iste repellendus odio consequatur alias? Porro illum nobis corporis id perferendis similique possimus ratione dolores repellat exercitationem dolor laboriosam nemo omnis quisquam ut alias quod, adipisci eaque soluta? Quae dolor quisquam a cum ipsam perferendis consequuntur autem. Quo cum, numquam ab quibusdam aspernatur, tempore voluptate corporis dolores repudiandae doloremque necessitatibus, enim saepe. Quos hic voluptatum aliquam veritatis iusto. Quibusdam sit praesentium cumque ipsum earum vitae deleniti expedita nam aliquam esse aperiam quae fuga ea, at iusto eius doloribus reiciendis nisi! Blanditiis ducimus tempora sapiente! Reiciendis, quis sint. Quasi voluptate deserunt eos iusto totam impedit fugiat, laborum consequuntur eligendi, saepe dicta odio porro nam aliquam placeat nostrum nihil rem at magni quisquam quaerat. Corrupti quae, accusamus, dolore alias nobis fugit expedita pariatur repellendus, similique fugiat porro tempora dolores id molestiae commodi a officia ipsa delectus autem. Pariatur expedita consequatur voluptatem fuga, in consectetur voluptate laboriosam porro tempore minima minus error dolores aperiam hic recusandae quae qui. Sequi repellat a iste, tempora quod id. Dolorum obcaecati, eligendi ad mollitia, quod eum tempora eius nemo, error vitae libero earum? Animi dicta ratione adipisci quia non aliquid eligendi, beatae tenetur possimus dolores, autem nemo officia illum explicabo. Eius doloremque temporibus beatae cumque accusantium repellat excepturi itaque distinctio, praesentium placeat nulla. Eius quia dolor rem consectetur quisquam labore dolore voluptate commodi ad unde nemo quaerat, nam cupiditate doloremque adipisci quae at voluptatibus doloribus quasi repellat deleniti error deserunt maiores officiis! Voluptatem minima nobis possimus itaque porro magni. Aspernatur aperiam quaerat itaque nam saepe ullam dicta.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
            </p>
        </ToggleItem>
        <ToggleItem Title="Toggle 3">
            <p>Content 3</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ex officia fugit harum eaque aperiam deleniti, eveniet odio fuga, impedit possimus pariatur reprehenderit. Impedit illo hic enim nisi. Voluptatum, quas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor praesentium laboriosam ducimus tempora quibusdam. Alias, officia. Corrupti quaerat eius, animi iusto, nesciunt molestiae deleniti eos accusamus facere officiis veritatis assumenda totam excepturi et odio perspiciatis necessitatibus amet. Accusantium nihil quisquam, perferendis nisi possimus atque, eius eveniet reiciendis porro nobis quasi iste repellendus odio consequatur alias? Porro illum nobis corporis id perferendis similique possimus ratione dolores repellat exercitationem dolor laboriosam nemo omnis quisquam ut alias quod, adipisci eaque soluta? Quae dolor quisquam a cum ipsam perferendis consequuntur autem. Quo cum, numquam ab quibusdam aspernatur, tempore voluptate corporis dolores repudiandae doloremque necessitatibus, enim saepe. Quos hic voluptatum aliquam veritatis iusto. Quibusdam sit praesentium cumque ipsum earum vitae deleniti expedita nam aliquam esse aperiam quae fuga ea, at iusto eius doloribus reiciendis nisi! Blanditiis ducimus tempora sapiente! Reiciendis, quis sint. Quasi voluptate deserunt eos iusto totam impedit fugiat, laborum consequuntur eligendi, saepe dicta odio porro nam aliquam placeat nostrum nihil rem at magni quisquam quaerat. Corrupti quae, accusamus, dolore alias nobis fugit expedita pariatur repellendus, similique fugiat porro tempora dolores id molestiae commodi a officia ipsa delectus autem. Pariatur expedita consequatur voluptatem fuga, in consectetur voluptate laboriosam porro tempore minima minus error dolores aperiam hic recusandae quae qui. Sequi repellat a iste, tempora quod id. Dolorum obcaecati, eligendi ad mollitia, quod eum tempora eius nemo, error vitae libero earum? Animi dicta ratione adipisci quia non aliquid eligendi, beatae tenetur possimus dolores, autem nemo officia illum explicabo. Eius doloremque temporibus beatae cumque accusantium repellat excepturi itaque distinctio, praesentium placeat nulla. Eius quia dolor rem consectetur quisquam labore dolore voluptate commodi ad unde nemo quaerat, nam cupiditate doloremque adipisci quae at voluptatibus doloribus quasi repellat deleniti error deserunt maiores officiis! Voluptatem minima nobis possimus itaque porro magni. Aspernatur aperiam quaerat itaque nam saepe ullam dicta.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum, suscipit corrupti porro laboriosam nulla cumque culpa ab hic explicabo labore, ex saepe magnam consequatur vitae rerum? Culpa, dolores!
            </p>
        </ToggleItem>
    </Toggle>

    <div class="navigation-toggle">
        <button @onclick="() => Navigate(0)">Personnal Infos</button>
        <button @onclick="() => Navigate(1)">Professionnal Infos</button>
        <button @onclick="() => Navigate(2)">Hobbies Infos</button>
        <button @onclick="() => Navigate(3)">Contacts</button>
    </div>
    <div class="toggle-shared-content">
        @switch(TabIndex){
            case 0:
                <p>Personnal Infos</p>
                break;
            case 1:
                <p>Professionnal Infos</p>
                break;
            case 2:
                <p>Hobbies Infos</p>
                break;
            case 3:
                <p>Contacts</p>
                break;
            default:
                <p>Invalid</p>
                break;
        }
    </div>
</div>
@code{
    private int TabIndex = 0;

    private void Navigate(int tabIndex)
    {
        TabIndex = tabIndex;
    }
}
