@page "/"

<PageTitle>Home</PageTitle>

<div class="hero">
    <div class="box">
        <div class="presentation">
            <div class="intro">
                <h1 class="label-text">Hi all 🙃. I am <br><strong class="headline-text">Djoufson CHE</strong></h1>
                <h2 class="occupation prompt">.NET developer</h2>
            </div>
            <div class="details">
                <p class="comment label-text">Welcome to my amazing world 🌍</p>
                <p class="comment label-text">This portfolio is built with Blazor SSR, and is Open Source.</p>
                <p class="comment label-text">Check it <a href="https://github.com/Djoufson/Portfolio" class="link">here</a></p>
            </div>
        </div>
        <img class="illustration" src="/assets/hero.png"/>
    </div>
</div>
