/* ==== GLOBAL STYLES ==== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 100;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote::before,
blockquote::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --dark-900: #01080E;
  --dark-600: #011627;
  --dark-300: #011221;
  --gray: #607B96;
  --purple: #4D5BCE;
  --white: #FFFFFF;
  --white-200: #E5E9F0;
  --white-50: rgba(255, 255, 255, 0.2196078431);
  --orange-200: #FEA55F;
  --orange-50: #fbb37c;
  --green-500: #3C9D93;
  --green-200: #43D9AD;
  --red-200: #E99287;
  --blue-200: #C98BDF;
  --lines: #1E2D3D;
}

/* ==== GLOBAL STYLES ==== */
body {
  background-color: var(--dark-900);
  padding: 20px;
  color: var(--white-200);
  font-family: "Fira Code", monospace;
  line-height: 1.7rem;
}

/* ==== UTILITIES ==== */
.text-center {
  text-align: center;
}

.prefix-underscore::before {
  content: "_";
}

.container {
  max-width: 1500px;
  margin: auto;
  background-color: var(--dark-300);
  border: 1px solid var(--lines);
  border-radius: 8px;
}
.container .full {
  min-height: 100%;
}

.box {
  padding: 15px;
  min-height: 100%;
}
@media (min-width: 730px) {
  .box {
    padding: 6rem;
  }
}

.page {
  min-height: min(900px, 100svh - 40px);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.prompt::before {
  content: "> ";
}

.comment {
  color: var(--gray);
}
.comment::before {
  content: "// ";
}

.link {
  padding: 0.8rem 2rem;
  color: var(--gray);
  border-bottom: 1px solid var(--lines);
  transition: all ease 0.4s;
}
.link:hover {
  color: var(--white);
  transition: all ease 0.4s;
}
.link.active {
  color: var(--white-200);
}

.link-text {
  text-decoration: underline;
}

.mini-text {
  font-size: 0.8rem;
}

.label-text {
  font-size: 0.85rem;
}

.body-text {
  font-size: 1rem;
}

.headline-text {
  font-size: 3.7rem;
}

.subheadline-text {
  font-size: 1.8rem;
}

/* ==== COMPONENTS ==== */
/* Buttons */
.btn {
  border-radius: 8px;
  padding: 10px 14px;
  border: 1px solid var(--dark-600);
  background-color: var(--dark-600);
  color: var(--white);
  transition: all ease 0.4s;
}
.btn:hover {
  background-color: var(--dark-300);
  cursor: pointer;
  transition: all ease 0.4s;
}
.btn:active {
  background-color: var(--gray);
  transition: all ease 0.4s;
}
.btn.primary {
  border: 1px solid var(--orange-200);
  background-color: var(--orange-200);
  color: var(--dark-600);
}
.btn.primary:hover {
  background-color: var(--orange-50);
  border: 1px solid var(--orange-50);
  transition: all ease 0.4s;
}
.btn.ghost {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}
.btn.ghost:hover {
  background-color: var(--white-50);
  border: 1px solid var(--white);
  transition: all ease 0.4s;
}

.toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.toggle .toggle-item {
  display: flex;
  flex-direction: column;
  max-height: 35px;
  overflow: hidden;
  transition: all ease 0.4s;
}
.toggle .toggle-item .toggle-title {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  width: 100%;
  color: var(--white-200);
  background-color: var(--lines);
  font-family: "Fira Code", monospace;
  font-size: 0.85rem;
  cursor: pointer;
  padding: 0 2rem;
}
.toggle .toggle-item .toggle-title img {
  transition: all ease 0.4s;
}
.toggle .toggle-item .toggle-title h2 {
  height: 35px;
  display: flex;
  align-items: center;
}
.toggle .toggle-item .toggle-content {
  padding: 1rem 2rem;
}
.toggle .toggle-item.active {
  max-height: 80vh;
  overflow: hidden;
  transition: all ease 0.4s;
}
.toggle .toggle-item.active .toggle-content {
  max-height: 100%;
  overflow: scroll;
}
.toggle .toggle-item.active .toggle-title img {
  transform: rotate(90deg);
  transition: all ease 0.4s;
}

/* Navbar */
.nav-bar {
  display: flex;
  flex-direction: column;
  max-height: 50px;
  overflow: hidden;
  transition: all ease 0.4s;
}
.nav-bar .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--lines);
  padding-right: 14px;
}
.nav-bar .name .link {
  border-bottom: none;
}
.nav-bar .nav-links, .nav-bar .contact {
  opacity: 0;
  z-index: -5;
  display: flex;
  flex-direction: column;
  transition: all ease 0.4s;
}
.nav-bar.active {
  max-height: 100vh;
  transition: all ease 0.4s;
}
.nav-bar.active .nav-links, .nav-bar.active .contact {
  opacity: 1;
  z-index: initial;
}
@media (min-width: 730px) {
  .nav-bar {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    max-height: initial;
    border-bottom: 1px solid var(--lines);
  }
  .nav-bar .nav-links {
    display: flex;
    flex-direction: row;
    opacity: 1;
    z-index: initial;
    border-bottom: none;
  }
  .nav-bar .nav-links .link {
    border-left: 1px solid var(--lines);
    border-bottom: 0.2rem solid transparent;
    border-top: 0.2rem solid transparent;
  }
  .nav-bar .nav-links .last-link {
    border-right: 1px solid var(--lines);
  }
  .nav-bar.active-link-1 .link-1 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-2 .link-2 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-3 .link-3 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-4 .link-4 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-5 .link-5 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-6 .link-6 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-7 .link-7 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-8 .link-8 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar.active-link-9 .link-9 {
    color: var(--white-200);
    border-bottom: 0.15rem solid var(--orange-200);
  }
  .nav-bar .contact {
    display: flex;
    grid-column: 4;
    flex-direction: row;
    opacity: 1;
    z-index: initial;
  }
  .nav-bar .contact .link {
    border-left: 1px solid var(--lines);
  }
  .nav-bar .name {
    min-width: 250px;
    border-bottom: none;
  }
  .nav-bar .hamburger {
    display: none;
  }
}

.hamburger {
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.hamburger span {
  position: relative;
  width: 20px;
  height: 0.2rem;
  background-color: var(--gray);
  border-radius: 10px;
  transition: all ease 0.4s;
}
.hamburger span::after, .hamburger span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 0.2rem;
  background-color: var(--gray);
  border-radius: 10px;
  top: 0;
  left: 0;
  transform: translateY(-6px);
  transition: all ease 0.4s;
}
.hamburger span::before {
  transform: translateY(6px);
  transition: all ease 0.4s;
}
.hamburger span.active {
  transform: rotate(-45deg);
  transition: all ease 0.4s;
}
.hamburger span.active::before {
  opacity: 0;
  transition: all ease 0.4s;
}
.hamburger span.active::after {
  transform: rotate(90deg);
  transition: all ease 0.4s;
}

/* Footer */
footer {
  grid-row: 3;
}

.footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  border-top: 1px solid var(--lines);
}
.footer > span {
  padding-left: 14px;
  color: var(--gray);
}
.footer .socials {
  display: flex;
  align-items: center;
}
.footer .socials li {
  display: flex;
  align-items: center;
}
.footer .github span {
  display: none;
}
.footer .link {
  border: none;
  border-left: 1px solid var(--lines);
  padding: 0.8rem;
}
.footer .link svg {
  width: 20px;
  aspect-ratio: 1;
  color: inherit;
  fill: var(--gray);
}
@media (min-width: 730px) {
  .footer {
    grid-template-columns: auto auto 1fr auto;
  }
  .footer > span {
    padding: 0 2rem;
  }
  .footer .github {
    grid-column: 4;
  }
  .footer .github a {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .github span {
    display: block;
  }
  .footer .link.last {
    border-right: 1px solid var(--lines);
  }
}

img.brand {
  height: 20px;
  width: auto;
}

/* Skills */
.skills .items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills .items .skill img {
  width: auto;
  height: 2.7rem;
}
@media (min-width: 730px) {
  .skills .items .skill img {
    width: auto;
    height: 3.7rem;
  }
}

/* ==== PAGES DESIGN ==== */
/* Home page */
.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/BackgroundBlurs.png);
  background-repeat: no-repeat;
}
@media (min-width: 730px) {
  .hero {
    background-position-y: -100px;
    background-position-x: 100%;
  }
}

.hero .box {
  height: 100%;
}
.hero .box .presentation {
  display: grid;
  height: 100%;
  grid-template-rows: 2fr 1fr;
}
.hero .box .intro {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  line-height: 3.4rem;
}
.hero .box .details {
  grid-row: 2;
  align-self: flex-end;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .box .details .link {
  padding: 0;
  border: none;
  text-decoration: underline;
}
.hero .box .illustration {
  display: none;
}
.hero .box .occupation {
  color: var(--green-200);
}
@media (min-width: 730px) {
  .hero .box {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .hero .box .illustration {
    display: block;
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  .hero .box .presentation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
  }
  .hero .box .details {
    grid-row: 2;
    align-self: initial;
    padding-bottom: 20px;
  }
  .hero .box .occupation {
    color: var(--purple);
    font-size: 1.8rem;
  }
}

/* About page */
.about {
  color: var(--white-200);
  min-height: 100%;
  background-image: url(/assets/BackgroundBlurs.png);
  background-position: 0 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.about h1,
.about h2,
.about p {
  margin-bottom: 2rem;
}
.about .skills {
  margin-top: 2rem;
}
.about .side > img {
  width: 100%;
}
@media (min-width: 730px) {
  .about .box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    column-gap: 4rem;
  }
  .about .side {
    display: flex;
    grid-column: 2;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .about .side > img {
    width: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

/* Development page */
@keyframes infinite-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.development {
  height: 100%;
}
.development .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.development .box .icon {
  width: 10rem;
  aspect-ratio: 1;
  animation: infinite-spin infinite 2s ease;
}
.development .box p {
  text-align: center;
}
