/* About page */
.about{
    .navigation-toggle{
        display: none;
    }

    .toggle-shared-content{
        display: none;
    }

    h1{
        padding: $padding-sm $padding;
    }

    @include md{    
        .navigation-toggle{
            display: block;
        }

        .toggle-shared-content{
            display: block;
        }

        .mobile-toggle{
            display: none;
        }
    }
}
